*.bat text eol=crlf
*.ini text eol=crlf

*.jpg binary
*.png binary

*.tar.* filter=lfs diff=lfs merge=lfs binary lockable
*.zip filter=lfs diff=lfs merge=lfs binary lockable
*.rar filter=lfs diff=lfs merge=lfs binary lockable
*.exe filter=lfs diff=lfs merge=lfs binary lockable
*.msi filter=lfs diff=lfs merge=lfs binary lockable
